<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WestWindTest"
         connectionString="Test"
         providerName="System.Data.SqlClient"/>
    <add name="WestWind"
       connectionString="server=.\SQLExpress;database=SubSonic;integrated security=true;"
       providerName="System.Data.SqlClient"/>
    <add name="Northwind"
      connectionString="server=.\SQLExpress;database=Northwind;integrated security=true;"
      providerName="System.Data.SqlClient"/>
    <add name="Southwind"
         connectionString="data source=data source=xxx.xxx.xx.xxx:1521/XE;user id=subsonic;password=subsonic;"
         providerName="System.Data.OracleClient" />
  </connectionStrings>
  <!--<system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
      <add name="SQLite Data Provider" description=".Net Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Oracle Data Provider for .NET" description="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.111.6.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>-->
</configuration>